<div
  *ngIf="auctionData"
  [routerLink]="['/auction-details', auctionData.auctionId]"
  class="auction-tile">
  <div
    [ngStyle]="{'background-image': auctionData.imageSrc ? 'url(' + auctionData.imageSrc + ')' : 'url()'}"
    class="auction-tile__left-side"></div>
  <div class="auction-tile__center">
    <div class="auction-tile__top">{{auctionData.title}}</div>
    <div class="auction-tile__bottom">
      <div class="auction-tile__info">ROCZNIK: {{auctionData.car.productionYear}}</div>
      <div class="auction-tile__info">POJEMNOŚĆ SILNIKA: {{auctionData.car.engineCapacity}}</div>
      <div class="auction-tile__info">RODZAJ PALIWA: {{auctionData.car.fuelType}}</div>
      <div class="auction-tile__info">PRZEBIEG: {{auctionData.car.mileage}}</div>
      <div class="auction-tile__info">LOKALIZACJA: {{auctionData.car.location}}</div>
      <div class="auction-tile__info">TYP NADWOZIA: {{auctionData.car.bodyType}}</div>
    </div>
  </div>
  <div class="auction-tile__right-side">
    <div class="auction-tile__price">{{auctionData.price}} PLN</div>
  </div>
</div>
