<div class="wrapper">
  <mat-card class="inputs-container">
    <mat-form-field class="inputs-container__car-name" appearance="fill">
      <mat-label>Car Name</mat-label>
      <input matInput placeholder="Enter Car Name" value="" />
    </mat-form-field>
    <mat-form-field class="inputs-container__car-price" appearance="fill">
      <mat-label>Car Price From</mat-label>
      <input matInput placeholder="Price From" value="" />
    </mat-form-field>
    <mat-form-field class="inputs-container__car-price" appearance="fill">
      <mat-label>Car Price To</mat-label>
      <input matInput placeholder="Price To" value="" />
    </mat-form-field>
    <button mat-raised-button color="primary" class="inputs-container__submit-button">
      Let's Go
    </button>
  </mat-card>
</div>
