<div class="wrapper">
  <mat-card class="card">
    <form [formGroup]="modelForm" class="form">
      <mat-form-field class="form__car-name" appearance="fill">
        <mat-label>Car Name</mat-label>
        <input formControlName="carName" matInput placeholder="Enter Car Name" value="" />
      </mat-form-field>
      <mat-form-field class="form__car-price" appearance="fill">
        <mat-label>Car Price From</mat-label>
        <input
          type="number"
          formControlName="priceFrom"
          matInput
          placeholder="Price From"
          value="" />
      </mat-form-field>
      <mat-form-field class="form__car-price" appearance="fill">
        <mat-label>Car Price To</mat-label>
        <input type="number" formControlName="priceTo" matInput placeholder="price To" value="" />
      </mat-form-field>
      <div class="button-wrapper">
        <button
          [disabled]="modelForm.status === 'INVALID'"
          mat-raised-button
          color="primary"
          class="form__submit-button"
          (click)="goToMainPage()">
          Let's Go
        </button>
      </div>
    </form>
  </mat-card>
</div>
