.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}
.card {
  width: 1100px;
  height: 110px;
  padding: 20px 0;
  margin-top: 300px;
  border-radius: 20px;
}

.button-wrapper {
  height: 70px;
}
.form {
  display: flex;
  align-items: center;
  gap: 22px;
  padding-top: 9px;
  &__car-name {
    margin-left: 22px;
    width: 350px;
  }
  &__car-price {
    width: 230px;
  }
  &__submit-button {
    height: 50px;
    width: 180px;
  }
}
