<div class="user">
  <div class="menu">
    <mat-card class="content">
      <span class="username">SIEPERSON</span>
      <ul class="options">
        <li class="options__your-data options__option">Your Data</li>
        <li class="options__your-auctions options__option">Your Auctions</li>
        <li class="options__archival-auctions options__option">Archival Auctions</li>
        <li class="options__followed-auctions options__option">Followed Auctions</li>
        <li class="options__previous-purchases options__option">Previous Purchases</li>
        <li class="options__messages options__option">Messages</li>
      </ul>
    </mat-card>
  </div>
  <div class="data"><mat-card class="content"></mat-card></div>
</div>
