<div class="login-page">
  <mat-card class="login-page__login-card">
    <mat-card-title class="login-page__title">Login</mat-card-title>
    <form [formGroup]="modelForm" class="login-page__form">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput />
      </mat-form-field>
    </form>
    <button
      mat-raised-button
      color="primary"
      class="login-page__login-button"
      [disabled]="modelForm.pristine || modelForm.status === 'INVALID'"
      (click)="login()">
      Sign In
    </button>
    <div></div>
  </mat-card>
</div>
