.content {
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 100%;
  width: 100%;
}
.tab {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 20px;
}
.users {
  flex-basis: 25%;
}
.conversation {
  flex-grow: 1;
}
app-chat-users {
  height: 100%;
}
app-chat-content {
  height: 100%;
}
