<mat-toolbar class="menu">
  <div class="menu__left-side">
    <div class="menu__side-wrapper">
      <mat-icon
        matTooltip="Auctions"
        [routerLink]="['/auctions-page']"
        aria-hidden="false"
        fontIcon="directions_car"
        class="menu__item menu__icon"></mat-icon>
    </div>
  </div>
  <!-- <div class="menu__center">Strona</div> -->
  <div class="menu__right-side">
    <div class="menu__side-wrapper">
      <mat-icon
        matTooltip="Account"
        [routerLink]="['/user']"
        aria-hidden="false"
        fontIcon="person"
        class="menu__item menu__icon"
        *ngIf="currentUser !== ''"></mat-icon>
      <mat-icon
        matTooltip="Login"
        [routerLink]="['/login']"
        aria-hidden="false"
        fontIcon="login"
        class="menu__item menu__icon"></mat-icon>
      <mat-icon
        matTooltip="Login"
        aria-hidden="false"
        fontIcon="login"
        class="menu__item menu__icon"
        (click)="log()"></mat-icon>
    </div>
  </div>
</mat-toolbar>
